<section class="section pb-0 section-components">
  <div class="container mb-5">
    <div class="row">
      <div class="col-lg-4 col-sm-6 text-center">
        <h3>Your Needs</h3>
        <p>
          You are looking for a world class management system to monitor/manage
          telecom/networking and IoT devices.
        </p>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
        <h3>Our Solution</h3>
        <p>
          We provide software and services to deliver a complete management
          solution that is secure, scalable, and easy to use.
        </p>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
        <h3>Value Delivered</h3>
        <p>
          Our experience, and being a “one stop shop” for your management needs
          along with 100% customer satisfaction sets us apart.
        </p>
      </div>
    </div>
  </div>
  <div class="py-5 bg-secondary">
    <div class="container-fluid">
      <!-- Inputs (alternative) -->
      <div class="mb-3 text-center">
        <h3 class="display-3">Solutions</h3>
      </div>
      <div class="row">
        <div class="col-lg-1">&nbsp;</div>
        <div class="col-lg-2 col-sm-6 text-center">
          <img src="../../../assets/img/brand/1.webp" alt="" width="100%" />
          <h4>Element/Network Management</h4>
          <p>
            You are a device manufacturer looking for an EMS or enhance your
            existing EMS/NMS.
          </p>
          <button class="btn btn-info">Learn more</button>
        </div>
        <div class="col-lg-2 col-sm-6 text-center">
          <img src="../../../assets/img/brand/1.webp" alt="" width="100%" />
          <h4>Smart Lighting</h4>
          <p>
            You are a warehouse, campus, office, dealership or parking garage interested in lowering lighting costs.
          </p>
          <button class="btn btn-info">Learn more</button>

        </div>
        <div class="col-lg-2 col-sm-6 text-center">
          <img src="../../../assets/img/brand/1.webp" alt="" width="100%" />
          <h4>Smart Streets</h4>
          <p>
            You are a city/municipality wanting to reduce streetlighting costs and manage all street assets.
          </p>
          <button class="btn btn-info">Learn more</button>

        </div>
        <div class="col-lg-2 col-sm-6 text-center">
          <img src="../../../assets/img/brand/1.webp" alt="" width="100%" />
          <h4>Smart Cities</h4>
          <p>
            You are a city/municipality looking to manage various smart city assets from a single console.
          </p>
          <button class="btn btn-info">Learn more</button>

        </div>
        <div class="col-lg-2 col-sm-6 text-center">
          <img src="../../../assets/img/brand/1.webp" alt="" width="100%" />
          <h4>Smart Cities</h4>
          <p>
            You are a city/municipality looking to manage various smart city assets from a single console.
          </p>
          <button class="btn btn-info">Learn more</button>

        </div>
        <div class="col-lg-1">&nbsp;</div>
      
      </div>
    </div>
  </div>
</section>
