<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <ngb-carousel style="width: 100%;height: 0px;">
        <ng-template ngbSlide>
          <img
            class=""
            width="100%"
            src="../../assets/img/brand/3.webp"
            alt="Third slide"
          />
          <div class="carousel-caption">
            <h1 class="text-white">
              Eliminate dark corners without cutting corners
            </h1>
            <button class="btn btn-info btn-sm active">Request Demo</button>
            <button class="btn btn-danger btn-sm active">Watch Video</button>
            <button class="btn btn-warning btn-sm active">Learn More</button>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img
            class="img-fluid"
            width="100%"
            
            src="../../assets/img/brand/4.webp"
            alt="Third slide"
          />
          <div class="carousel-caption">
            <h1 class="text-white">
              Make your streets without spending a fortune on streetlighting
            </h1>
            <button class="btn btn-info btn-sm active">Request Demo</button>
            <button class="btn btn-danger btn-sm active">Watch Video</button>
            <button class="btn btn-warning btn-sm active">Learn More</button>
          </div>
        </ng-template>
      </ngb-carousel>
      <!-- <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div> -->
    </section>
  </div>
  <app-sections></app-sections>
</main>
